/* Тело ***************************************/
html, body 
{
	font-family: PT Sans;
	font-size:18px;
	box-sizing: border-box;
}


body 
{
	animation: changeColor 10s ease-in-out infinite alternate;
	padding: 13px;
}


@keyframes changeColor
{
	0% 
	{
		background-color: rgb(50, 25, 25);
	}
	100% 
	{
		background-color: rgb(70, 35, 25);
	}
}


/* Форматирование базовых элементов ***************************************/
a
{
	color: rgb(0, 0, 0);
}


p
{
	margin: 0px;
}


h1
{
	font-size: 22px;
}


li
{
	margin-bottom: 25px;
}


ol, ul
{
	padding-left: 25px
}


footer 
{
  text-align: center;
  color: white;
  opacity: 0.65;
}


/* Вкладки выбор языка ***************************************/
.langtabs
{
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
	margin: 30px auto;
}


.langtabs label
{
	padding: 8px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 20px;
	color: white;
}


.langtabs input[type="radio"]
{
	display: none;
}


.langtabs input[type='radio']:checked + label 
{
	background: rgb(240, 120, 100);
	color: white;
}


/* Главные вкладки ***************************************/
.maintabs
{
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
	margin-top: 25px;
}


.maintabs label
{
	padding: 12px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 20px;
	color: white
}


.maintabs .tab
{
	width: 100%;
	height: flex;
	padding: 25px;
	background-color: rgb(255, 255, 255, 1);
	order: 1;
	display: none;
	border-radius: 20px;
}


.maintabs input[type="radio"]
{
	display: none;
}


.maintabs input[type='radio']:checked + label + .tab 
{
	display: block;
}


.maintabs input[type='radio']:checked + label 
{
	background: rgb(240, 120, 100);
	color: white;
}


/* Английский и русский текст ***************************************/
/* rutxt - скрывать, показывать при нажатии на ru */
/* entxt - скрывать, показывать при нажатии на en */
/* hidetxt - делать серым при нажатии на en */
.maintabs .entxt, .rutxt
{
	display: none;
}


#en:checked ~ .maintabs .entxt
{
	display: inline;
}


#ru:checked ~ .maintabs .rutxt
{
	display: inline;
}

#en:checked ~ .maintabs .hidetxt
{
	color: darkgray;
}


#en:checked ~ .maintabs .hidetxt a
{
	color: darkgray;
}
